.dashboard-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;


  .sidenav-content {
    //border-left: 1px inset #ccc;
  }

  .mat-sidenav {
    width: 230px;

    //border-right: 1px solid #ccc;
  }

  .content {
    padding: 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: calc(100vh - 64px);
    overflow: auto;
  }

  @media screen and (max-width: 599px) {
    .content {
      max-height: calc(100vh - 56px);
    }
  }

  // loading
  .loading {
    display: none;
  }

  /* Spinner 1 */
  .spinner-1:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border: 3px solid lightgray;
    border-top-color: #3f51b5;
    animation: spinner 0.7s linear infinite;
  }

  /* Spinner 2 */
  .spinner-2:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #3f51b5;
    border-bottom-color: #3f51b5;
    animation: spinner 0.7s ease infinite;
  }

  /* Spinner 3 */
  .spinner-3:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border-top: 2px solid #3f51b5;
    border-right: 2px solid transparent;
    animation: spinner 0.7s linear infinite;
  }

  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

}






