<div class="sidenav">
  <h1 class="app-name">Application Name</h1>

  <mat-accordion>

    <div class="no-links home">
      <a href="#" [ngClass]="{'active': router.isActive('home', true)}">首页</a>
    </div>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          系统设置
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="links">
        <a *ngFor="let link of links" href="{{ link.url }}" [ngClass]="{'active': router.url === link.url}">{{ link.name }}</a>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="router.isActive('home', false)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          访问日志
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="links">
        <a *ngFor="let link of links" href="{{ link.url }}" [ngClass]="{'active': router.url === link.url}">{{ link.name }}</a>
      </div>

    </mat-expansion-panel>


  </mat-accordion>
</div>
