<div class="sidenav">
  <h1 class="app-name">Application Name</h1>

  <mat-accordion>

    <!--全都有-->
    <div class="no-links home">
      <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{'exact': true}">
        <mat-icon>home</mat-icon>
        首页
      </a>
    </div>

    <div *ngFor="let menu of menus">
      <div *ngIf="menu.submenus.length === 0; else elseTemplate" class="no-links">
        <a routerLink="{{ menu.url }}" routerLinkActive="active" [routerLinkActiveOptions]="{'exact': true}">
          <mat-icon>{{ menu.icon }}</mat-icon>
          {{ menu.name }}
        </a>
      </div>
      <ng-template #elseTemplate>
        <mat-expansion-panel [expanded]="menu.expanded">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>{{ menu.icon }}</mat-icon>
              {{ menu.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="links">
            <a *ngFor="let submenu of menu.submenus" routerLink="{{ submenu.url }}" routerLinkActive="active"
               [routerLinkActiveOptions]="{'exact': true}">
              {{ submenu.name }}
            </a>
          </div>

        </mat-expansion-panel>
      </ng-template>
    </div>

  </mat-accordion>
</div>
